[2014-04-04 09:26] dmth opened #14 "Tutorial needs to be updated"
The tutorial how to import the code into eclipse https://wiki.52north.org/bin/view/SensorWeb/SosImporter#Import_Current_Trunk_in_Eclipse needs to be updated.

[2014-04-11 09:35] EHJ-52n opened #18 "Write blog post about release 0.4.0"
Write a blog post which informs about the release and the new features.

[2015-02-13 12:08] janschulte opened #30 "Error while building current version"
Failed to execute goal on project 52n-sos-importer-core: Could not resolve dependencies for project org.n52.sensorweb:52n-sos-importer-core:jar:0.4.0-SNAPSHOT: The following artifacts could not be resolved: org.geotools:gt-swing:jar:9.5, org.geotools:gt-wms:jar:9.5, org.geotools:gt-epsg-hsql:jar:9.5

[2015-02-13 13:13] EHJ-52n commented on #30
The build problem is fixed on our build server. The geotools part is still open.

[2015-03-05 10:06] johnjohndoe commented on #30
This actually just happens on the *master* branch. If you build *develop* before, all dependencies will be in *~/.m2/repository/*. Which means you can easily reproduce the issue by simply emptying your local Maven repository and then build *master*.

For completeness, here is the console output of `maven clean install` executed on *master*:

[code]

[2015-03-05 13:48] johnjohndoe opened #31 "Update user guide"
I am trying to follow the [user guide](http://52north.org/files/sensorweb/eo2h/52n-sensorweb-sos-importer-guide.pdf) available in the [example tutorial](https://wiki.52north.org/bin/view/SensorWeb/SosImporter#Example_tutorial) which seems to be outdated:

Therefore, I am not able to answer these questions showing up in the configuration file wizard:

* What is the Feature Of Interest for the marke

[2015-03-05 14:34] johnjohndoe opened #32 "MissingPositionPanel does not show map / HTTP 503 for WMS"
When I run the importer (built from source 99469b6283fe458a8843aed66ea98c10303362f1) there is no map shown in the "Add missing position" step as shown in the screenshot.

![add-missing-position](https://cloud.githubusercontent.com/assets/144518/6506557/51612aa0-c34c-11e4-8320-38f7ddfaf81a.png)

The console output reveals that the WMS backend is not reachable:

[code]

[2015-04-24 14:13] EHJ-52n commented on #30
This problem is fixed with be927ba. Please verify with:
[code]

[2015-04-24 14:13] #30 closed

[2015-04-24 14:55] EHJ-52n commented on #32
WMS panel could not be supported because of bad license of transitive dependencies of gt-swing and others.

[2015-04-24 14:55] #32 closed

[2015-04-24 15:02] EHJ-52n commented on #14
https://wiki.52north.org/bin/view/SensorWeb/SosImporter#How_to_Build
and
https://wiki.52north.org/bin/view/SensorWeb/SosImporter#Example_tutorial
should be updated.
The section about import trunk in eclipse is removed as the SVN is history.

[2015-04-24 15:02] #14 closed

[2015-04-27 15:53] EHJ-52n commented on #31
I would expect a basic knowledge of SWE concepts if you want to use the importer. Hence, the questions you stated should be clear.

[2015-04-27 16:19] CrazyJoeMalloy commented on #31
I've found that this article helps keep me on track with the concepts and terms when using the importer:
[http://www.ogcnetwork.net/sos_2_0/tutorial/om](http://www.ogcnetwork.net/sos_2_0/tutorial/om)

I find that using the core/wizard modules gives me the bones of what I need to use the feeder, but inevitably I need to modify the generated XML document to get things to work.  I've had no luck with

[2015-04-28 11:00] EHJ-52n commented on #31
@CrazyJoeMalloy: Thank you for the link to the OGC resource. I will add this to the sos-importer documentatin in our wiki.

In addition, your statement about the schema forces me to think about adding a special schema section.

* Do you have any special elements you need more input for?
* What about the comments in the [schema source code](https://github.com/52North/sos-importer/blob/develop/bindi

[2015-04-28 16:03] CrazyJoeMalloy commented on #31
@EHJ-52n: Happy to help!

I have to admit, to my shame, that I was not familiar with the schema - I've been away from Java for a long time and have only rarely dug into XML schema files - also a newbie to Maven on top of that...so I'm more or less drowning in my own ignorance :)

The documentation in the schema is certainly helpful and in combination with a configuration file helps to address most

[2015-04-29 15:24] EHJ-52n commented on #31
@johnjohndoe @CrazyJoeMalloy

I have updated the wiki topic and added the following sections:

* https://wiki.52north.org/bin/view/SensorWeb/SosImporter#Terminology
* https://wiki.52north.org/bin/view/SensorWeb/SosImporter#Configuration_Schema

[2015-04-29 15:24] #31 closed

[2015-04-29 18:12] CrazyJoeMalloy commented on #31
@EHJ-52n
Very nice!  Exactly the kind of information that I was looking for.  Thanks!

[2015-05-18 10:32] EHJ-52n commented on #18
http://blog.52north.org/2015/05/12/sos-importer-0-4-0-development-version-released/

[2015-05-18 10:32] #18 closed

[2015-05-18 10:33] EHJ-52n opened #35 "Could not parse ISO8601 timestamps with timezone "Z""
[code]

[2015-05-18 10:38] #35 closed

[2015-05-18 12:32] EHJ-52n opened #36 "Strategy "SweArrayObservationWithSplitExtension" doesn't work with TextObservations"
Current implementation results in HTTP 500 error while importing TextObservations using import strategy "SweArrayObservationWithSplitExtension".

Log output:
[code]

[2015-05-18 14:04] #36 closed

[2015-06-22 18:37] johnjohndoe opened #37 "ERROR OneTimeFeeder ... does not support required transactional operations!"
I successfully created a config file for a .csv file using the *52n-sos-importer-core* module (d678a8b6cabb1b43a6c2ee2a8a0c9db6e2a87bb4). I have an instance of [SOS server v.4.3.0](https://github.com/52North/SOS/releases/tag/4.3.0) running on *Tomcat 7* to store the data. I temporarily enabled transactional operations as shown in the screenshot:

![sos-transactions](https://cloud.githubusercontent

[2015-06-22 19:34] johnjohndoe opened #38 "Count property prompts for unit of measurement"
One of the properties in my .csv file contains a **count value** (column "partikelPM10Ueberschreitungen"):

![sos-importer-count](https://cloud.githubusercontent.com/assets/144518/8290638/a6e46a90-1924-11e5-8fa2-1e5a943c2b72.png)

So I have chosen "Measured Value" and "Count".
Then later when the wizard hits step 6b "Unit Of Measurement" I am forced to choose a unit for the mentioned column as sho

[2015-06-22 19:55] johnjohndoe opened #39 "How many "Feature Of Interest" and "Observed Property" to create?"
Given the following property columns from a .csv file:

* sensor_id
* date
* partikelPM10Mittel
* partikelPM10Ueberschreitungen
* ...

![sos-importer-foi](https://cloud.githubusercontent.com/assets/144518/8291040/34f49434-1927-11e5-8dca-3d5d038e017c.png)

Do I have to create **one** or **two** "Feature Of Interest" for "partikelPM10Mittel" and "partikelPM10Ueberschreitungen"?

![sos-importer-op](h

[2015-06-24 08:01] EHJ-52n commented on #37
Did you activate the according operations, too? Configuring transactional security settings correct does not enable the transactional operations when using a newly installed instance of the 52N SOS.

[2015-06-24 08:40] johnjohndoe commented on #37
Can you please point me to the settings which I have to configure? Screenshots are welcome.

[2015-06-24 10:14] EHJ-52n commented on #37
```http://localhost:8080/52n-sos-webapp/admin/operations``` => ensure that the required transactional operations are enabled:

- InsertSensor
- InsertObservation

[2015-06-24 11:25] johnjohndoe commented on #37
@EHJ-52n Great. Now the import executed without errors.
Please consider updating the error message so one knows that insert operations are disabled.

[2015-07-06 12:12] johnjohndoe commented on #38
@EHJ-52n Any comment?

[2015-07-06 12:13] johnjohndoe commented on #39
@EHJ-52n Any comment?

[2015-07-06 15:51] EHJ-52n commented on #39
The number of features depends on your model. If all stations/sensors observe the same feature, you need only one, for example.

The sensor model of the import is currently not capable of hierarchical sensor systems, hence, a sensor is a single sensor instance, e.g. a thermometer of an weather station.

[2015-07-06 15:56] EHJ-52n commented on #38
It seems like a bug. Could you please provide a minimal example csv and attach it to this issue by pasting it into a comment.
In the end, it should not be a problem, as the feeding code doesn't need it. Could you check this, too?

[2015-07-06 16:31] johnjohndoe commented on #38
Here are a few [sensor samples](http://databin.pudo.org/t/9982c2).

[2015-07-07 08:25] EHJ-52n commented on #38
I would recommend to split your csv file because the importer will not be able to handle the different number of columns, or is each line an example from a different csv file?

[2015-07-07 08:33] johnjohndoe commented on #38
The file contains multiple sensors (see `sensor_id` column). Each sensor (row) has the same number of columns. There are rows which do not have a value for a certain column at a certain time.

[2015-07-09 07:32] EHJ-52n opened #40 "NoSuchElementException when counter file is empty => import stopped"
The disk where the counter files are stored was full. This caused a problem because now the counter file is empty. This causes a NoSuchElementException which breaks the current import run.

Exception log:
[code]

Solution:

Catch this exception, log it and assume "0" or stop this run?

[2015-07-09 11:01] EHJ-52n opened #41 "IllegalArgumentException: year does not match pattern. => breaks import for sample based files"
I have a problem while importing data from a sample based file. The importer seems to break the import while processing the last lines of the sample.

[code]

[2015-07-09 15:48] nuest commented on #37
@johnjohndoe Would you mind creating an issue and tell the SOS developers what error message text you would expect (or what text would have helped you)? https://github.com/52North/sos/issues

Thanks.

[2015-07-09 15:48] #37 closed

[2015-07-10 09:40] johnjohndoe opened #42 "Always provide skip reason"
I am running the importer on a CSV file. All lines are skipped. The importer does **not** state the reason. Here is the console output:

[code]
The relevant code parts can be found [here](https://github.com/52North/sos-importer/blob/52n-sos-importer-0.4.0/feeder/src/main/java/org/n52/sos/importer/feeder/SensorObservationService.java#L309) and [here](https://github.com/52North/sos-importer/blob/52n

[2015-07-10 10:25] nuest commented on #42
From the log statement it looks like this might be the line where the log actually comes from, because there is no "Raw data" section.

https://github.com/52North/sos-importer/blob/52n-sos-importer-0.4.0/feeder/src/main/java/org/n52/sos/importer/feeder/SensorObservationService.java#L478

[2015-07-13 14:18] johnjohndoe commented on #37
@nuest The error message is output by the *sos-importer-feeder*. Therefore, I would suggest extending the original error message as such:

[2015-07-13 17:51] johnjohndoe commented on #42
It looks like as if lines are skipped in [`importData` on line 307](https://github.com/52North/sos-importer/blob/52n-sos-importer-0.4.0/feeder/src/main/java/org/n52/sos/importer/feeder/SensorObservationService.java#L307) the first time. Then when I run the importer again lines are skipped because they [have been processed before (see line 478)](https://github.com/52North/sos-importer/blob/52n-sos-

[2015-07-19 23:09] johnjohndoe opened #43 "Minimum requirements for a successful import"
I did several attempts to import data from a CSV file. I studied the source code of the importer to follow the [various checks](https://github.com/52North/sos-importer/blob/52n-sos-importer-0.4.0/feeder/src/main/java/org/n52/sos/importer/feeder/SensorObservationService.java#L300). Finally, I have to admit that it is very hard to guess as a random user what are the minimum requirements to successfu

[2015-07-21 12:35] EHJ-52n commented on #43
No, no empty cells. They will be skipped.

If the used datatype allowes ```0``` as value, it should be no problem.

Yes, but you should not have row ```2n``` for sensor A and row ```2n+1``` for sensor B, but have the values from different sensors in different columns.

Because there is a bug, please provide more details in a different issue.

[2015-07-21 12:36] EHJ-52n commented on #42
Fixed in 74379980c26942b.

[2015-07-21 12:36] #42 closed

[2015-07-21 12:36] #39 closed

[2015-07-21 13:44] johnjohndoe commented on #42
Skip reasons are still **not provided in all cases**. I am using the latest development version at commit d678a8b6cabb1b43a6c2ee2a8a0c9db6e2a87bb4 which integrates the fix you referred to in commit 74379980c26942bc48d7fae2ad3db18f5b2ce363.

[2015-07-21 16:29] johnjohndoe opened #44 "Import fails with SocketTimeoutException or ExceptionReport: null"
I am using the latest development version at commit d678a8b6cabb1b43a6c2ee2a8a0c9db6e2a87bb4. I am trying to import **a single row**. This process fails in different scenarios. I boiled it down to the following.

# Test files

These files can be used to reproduce the errors:

* [sensordata.csv.52n-sos-import-config-0.5.xml](https://dl.dropboxusercontent.com/u/2071482/SOS/sensordata.csv.52n-sos-imp

[2015-07-21 17:01] johnjohndoe commented on #43
Thank you. Please add these rules to the documentation.

---

Please consider interpreting empty cells as `0` if the data type allows. I think this would be a plus for a more convenient user experience. It could be a feature.

---

Please find my bug report described in issue #44.

---

I am not sure I understand. Each sensor is in a separate **row** in my case not **column**. Can you tell if the

[2015-07-22 09:20] EHJ-52n commented on #42
Could you give some more details than

Thank you.

[2015-07-22 09:26] EHJ-52n commented on #37
@johnjohndoe Thanks for the hint. Fixed by #45.

[2015-07-22 09:31] johnjohndoe commented on #37
:+1:

[2015-07-22 10:04] johnjohndoe commented on #42
Please find the detailed description on how to reproduce the bug in issue #44. The log files of the 2nd run show the console output without a reason.

[code]

[2015-07-28 23:31] johnjohndoe opened #46 "Output specific number of non matching columns"
The following message is output when the recognized number of columns from a .csv file does not match the expected number of columns:

Please output the number of expected columns and the number of recognized columns.

# Related

* [TimeSeriesRepository.addObservations](https://github.com/52North/sos-importer/blob/52n-sos-importer-0.4.0/feeder/src/main/java/org/n52/sos/importer/feeder/model/TimeSe

[2015-07-28 23:45] johnjohndoe opened #47 "Allow double values for count fields"
The importer allows to import *Measured values* of type *Count* as shown in the screenshot.

![count](https://cloud.githubusercontent.com/assets/144518/8946659/5ab847b0-3592-11e5-9c3a-3f02dbe12c57.png)

The values for this column are [processed here](https://github.com/52North/sos-importer/blob/52n-sos-importer-0.4.0/feeder/src/main/java/org/n52/sos/importer/feeder/DataFile.java#L372):

[code]
Int

[2015-07-28 23:47] johnjohndoe commented on #43
Here is one requirement I noticed:
* Integer values are required if *Count* values are imported, see issue #47.

[2015-07-29 00:04] johnjohndoe opened #48 "Allow to resize application window"
Very long _identifier_ and _URI_ names push some of the controls out of the window. They cannot be reached any more as indicated in the screenshot.

![User interface of the SOS importer](https://cloud.githubusercontent.com/assets/144518/8946984/e70bdaee-3595-11e5-8b1f-9880b5d31e41.png)

Please allow to resize the application window.

[2015-07-29 10:57] johnjohndoe commented on #44
With the help of @CarstenHollmann and the log level set to `TRACE` I found an `BatchUpdateException` and `... duplicate key value ...` in `/var/log/tomcat7/52n-sos-webapp.log`:

[code]

Looking at the [sensordata.csv.52n-sos-import-config-0.5.xml](https://dl.dropboxusercontent.com/u/2071482/SOS/sensordata.csv.52n-sos-import-config-0.5.xml) we discovered that I was using the **same identifier** for

[2015-07-30 16:50] johnjohndoe opened #49 "Document usage of folder ~/.SOSImporter/"
While using the importer I found out that some of the configuration data is stored in `~/.SOSImporter/`. I noticed that strings entered as *identifier* and *URI* names as shown in the screenshot of the wizard are stored in the file `52n-sensorweb-sos-importer.properties`.

![Identifier name and URI](https://cloud.githubusercontent.com/assets/144518/8989248/395746ac-36eb-11e5-863a-4d976e5957da.png)

[2015-07-30 22:46] johnjohndoe opened #50 "BadLocationException when clicking BACK after setting CSV header"
I noticed a `BadLocationException` while using the importer. It is already catched [here](https://github.com/52North/sos-importer/blob/52n-sos-importer-0.4.0/wizard/src/main/java/org/n52/sos/importer/view/Step2Panel.java#L550).

### Steps to reproduce

1. Start the importer from the shell via `java -jar ./wizard/target/52n-sos-importer-wizard-bin.jar`
2. Select a .csv file, press <kbd>Next</kbd>
3

[2015-07-31 08:43] johnjohndoe opened #51 "Import logs: Sending request failed caused by SocketTimeoutException"
Each time I run the importer the following is output to the console:

[code]
This messages are very **misleading** until I realized that all data is imported **successfully** nonetheless.

### Steps to reproduce

Please use the following files to reproduce the case:

* [sensordata-010-without-count.csv.52n-sos-import-config.xml](https://dl.dropboxusercontent.com/u/2071482/SOS-SocketTimeoutExceptio

[2015-07-31 09:27] johnjohndoe opened #52 "Skip empty cells, do not skip whole row"
I am working with a data set which has multiple phenomena per station. Some station do **not** provide any data (**empty cells**, red in the screenshot) for certain phenomenas. Other stations do but **lack data** for other phenomena. This can be seen from the screenshot of the tabular data.

![Sensor data](https://cloud.githubusercontent.com/assets/144518/9004437/2b90175c-3776-11e5-82b7-288a3b2a6a

[2015-10-13 11:01] agtokty opened #53 "org.n52.oxf.OXFException: Could not parse response to XML."
Hi all,
I wonder if sos-importer work on only 52NorthSos server? Because when i trying to execute sos-impoerter, it gives me this error :  https://gist.github.com/agtokty/78644222c6720d8e8ada

is there something worng with my service or with OX-Framework ?

Regards.

[2015-10-22 06:56] #53 closed

[2015-10-22 08:21] EHJ-52n commented on #53
@agtokty Could you please tell me why you closed this issue?

[2015-10-22 10:22] agtokty commented on #53
When sos importer sends getCapabilities post request to my sos server, its content type is 'text/xml; charset=iso-8859-1', but my sos service couldn't handle  this content type , it was supporting  only "text/xml" and "application/xml" content type of post requests. So, i changed my server to support 'text/xml; charset=iso-8859-1' content type post requests and issue resolved. I think it was my se

[2015-10-23 08:12] EHJ-52n commented on #53
Hi @agtokty,
thank you very much for clarifying this.
Have a nice day,
Eike

[2015-11-09 15:03] johnjohndoe commented on #51
@CarstenHollmann Any progress on this issue?

[2015-11-10 07:40] CarstenHollmann commented on #51
I think there were so far no resources available  to look at this issue more closely.

The settings you mentioned are the database connection settings of the SOS which defines the maximum number of database connection and the batch size defines after how many observation (if multiple observations are inserted by a single InsertObservation request) a flush() is executed.

As far as I know the SOS-I

[2015-11-10 09:11] EHJ-52n commented on #51
@johnjohndoe The error message is caused by the SOS taking too long for handling the received insert observation message. The SOS receives the whole message successfully but takes to long to process and therefore the read timeout of the http client is reached and the exception is thrown. To get rid of it, you can increase/add the attribute ```insertSweArrayObservationTimeoutBuffer="50000"``` to th

[2015-11-10 09:29] johnjohndoe commented on #51
@EHJ-52n That works like a charm. Thank you!

[2015-11-10 09:29] #51 closed

[2015-11-10 16:11] nuest opened #54 "Add integration for ScraperWiki"
ScraperWiki (https://scraperwiki.com/) is a nice little site that allows scraping of data from websites. We could add an integration that downloads a CSV file from scraperwiki at a regular interval (need to implement download and authentication support instead of local text file) and pushes the data to an SOS.

[2016-06-10 18:08] DanielScholten opened #55 "Missleading Typo in Wiki-documentation (Example Tutorial)"
in the [Example Tutorial](https://wiki.52north.org/bin/view/SensorWeb/SosImporter#Example_tutorial), Step 5, the pattern is given as 'dd.mm.yyyy HH:mm', while it has to be 'dd.MM.yyyy HH:mm ' (compare the month-entry). With the wrong pattern, the feeder is not able to properly insert any observation.

By the way, you could add a hint in [How to build](https://wiki.52north.org/bin/view/SensorWeb/So

[2016-06-13 20:36] johnjohndoe commented on #55
I also had a lot of trouble understanding how to use the importer.
As a side note: I created a little [screenshot tutorial](https://github.com/johnjohndoe/SOS-Importer-Blume) a while ago. It might be useful for you, although it is specific to the kind of data I worked with.

[2016-06-14 09:01] EHJ-52n opened #56 "Add working configuration file for demo-data section in documentation"
#55 contains the request to add a working configuration example:

[2016-06-14 09:02] EHJ-52n commented on #55
@DanielScholten

Thank you very much for your very useful feedback. 1 and 2 are solved in the wikipage, now.  Regarding 3, I would like to remind you to put not to many bugs/issues in one github issue. See #56.

[2016-06-14 09:02] #55 closed

[2016-09-07 15:06] lieberjosh opened #57 "Feeder fails to read FoI position"
Successfully created a configuration file from a .csv file of 4 humidity observations per feature of interest with lat-lon coordinates. Feeder fails, though, with a null position and then a null pointer exception reading the LongitudeUnit. Any suggestions? This happens with builds under both Java 7 and 8, both remotely and locally to the SOS service.
[DATA_Obs_160907_1sensor_csv.txt](https://githu

[2016-09-08 06:59] EHJ-52n commented on #57
Dear @lieberjosh,
take a look at your datafile line 8 for example: `SE10_0BT_2,Sensor1,51.494373�,0.012119,0.73,Rel_Humidity,Percent,5/14/2016 1.33 PM,,,`

![wrong-char-in-csv-file](https://cloud.githubusercontent.com/assets/3839896/18339793/d5570902-75a1-11e6-9dad-e2e39f77976a.png)

The char `�` should not be there, I think. Does the import work, if the line is clean?

Please ensure, that your da

[2016-09-08 11:56] lieberjosh commented on #57
Sadly no. The extraneous character crept in while I was cleaning up the file to post, but I removed it, made sure all lat-lon values were valid numbers, saved the file in UTF-8, but I get the same (lack of) result:

07:52:04.784 [OneTimeFeeder] DEBUG SensorObservationService - Feature of Interest: FeatureOfInterest [p=null, name=SE10_0AB_1, uri=SE10_0AB_1]
...
Exception in thread "OneTimeFeeder" j

[2016-12-06 12:03] EHJ-52n commented on #57
Dear @lieberjosh ,
I tested your configuration and datafile. That the configuration is not matching the datafile in terms of number of columns.

Please add for the 3 not used columns the following configuration snippet to your config file:
[code]

Did you create the configuration manually or using the wizard. The NPE is caused because the configuration doesn't tell the feeder that the foi is part

[2016-12-06 14:12] EHJ-52n commented on #57
It is a problem with the feeder logic. Will be fixed with the next commits.

[2016-12-06 14:58] EHJ-52n commented on #57
@lieberjosh

Could you please verify, if this version of the feeder is working with your updated configuration (see https://github.com/52North/sos-importer/issues/57#issuecomment-265133642):

https://52north.org/delivery/SensorWeb/sos-importer/issue-057/52n-sos-importer-feeder-bin.jar (42MB)

If you want to build from source, please checkout this branch:

[EHJ-52n/sos-importer/fix/read-foi-positio

[2016-12-06 15:14] EHJ-52n opened #58 "Null Pointer Exception (NPE) when feeder tries to register a sensor"
**Setup**
- Linux RaspberryPi 4.4.16-v7+
- Apache Tomcat 7.0.56 (Debian)
- Java JDK 7.0
- SOS 4.3.7
- SOS importer 0.4.0

[code]

Files:
- [temperature.xml.txt](https://github.com/52North/sos-importer/files/634207/temperature.xml.txt)
- [temperature.csv.txt](https://github.com/52North/sos-importer/files/634210/temperature.csv.txt)

[2016-12-07 08:20] #57 closed

[2016-12-07 08:20] #58 closed

[2016-12-07 09:09] EHJ-52n opened #62 "Number of read lines not stored"
* [Source](http://sensorweb.forum.52north.org/SOSImporter-don-t-write-the-number-of-line-td4028740.html)
* [sos-importer-feeder.log.txt](https://github.com/52North/sos-importer/files/636126/sos-importer-feeder.log.txt)

The interesting sections in the log file are:
[code]

Why do we have two different counter files for the same datafile and configuration?
- `C:\Users\USER\.SOSImporter\ee6327faf2a0

[2016-12-07 09:47] EHJ-52n opened #63 "Cannot build importer when host in timezone MST (-07:00)"
[code]

[Source](http://sensorweb.forum.52north.org/Get-error-in-deploying-SOS-Importer-td4028761.html)

[2016-12-08 09:10] debard commented on #57
Hi,
thank you for the update of the version for feeder. I have the same problem and i run with the new version. The error is fixed. The FOI position is readed correctly in my csv data without error.
Thank a lot
Regards

[2016-12-12 11:46] #63 closed

[2016-12-12 14:05] EHJ-52n commented on #62
The two different counter files are requested because the import uses two different configuration files:
[code]

The configuration file name is used to create the name of the counter file in [OneTimeFeeder.java:184](https://github.com/52North/sos-importer/blob/master/feeder/src/main/java/org/n52/sos/importer/feeder/task/OneTimeFeeder.java#L184).

The problem with the counter not being stored, or b

[2016-12-12 14:05] #62 closed

[2016-12-12 14:37] EHJ-52n opened #66 "Parsing Unix time fails"
[...]

[2017-01-16 13:41] #66 closed

[2017-01-16 14:02] #48 closed

[2017-03-15 09:31] glegal opened #72 "Bad srsName forging in insertObservation request"
When the sos-importer send an InsertObservation request, the srsName of the feature of interest is malformed :
http://www.opengis.net/def/crs/EPSG/0/http://www.opengis.net/def/crs/EPSG/0/4326

The prefix is added twice.
I join the datafile, configuration file and an xml file containing the insertObservation request
[config-files.zip](https://github.com/52North/sos-importer/files/843959/config-file

[2017-03-15 10:07] glegal opened #73 "Provide basic authentication for secure SOS"
I'm trying to use the SOS importer with a SOS server which has the transactional operation secure by basic authentication.

I'd like to add the support of this feature by adding credentials to the configuration file and use PreemptiveBasicAuthenticationHttpClient when the credentials are available.

[2017-04-05 13:51] EHJ-52n commented on #73
@glegal
I implemented the support for basic auth in the OX-Framework. Take a look here: https://github.com/52North/OX-Framework/pull/51.

You can configure basic auth using the following methods `SOSWrapper.setBasicAuthHost(...), `setBasicAuthUser(...), and `setBasicAuthPassword(...)`.

I would recommend to store these settings in the `<SosMetadata>` element in the configuration as optional child

[2017-04-13 13:19] glegal commented on #73
@EHJ-52n
I look at what you did. i had prepared a patch for OX-framework on my side, but i will try to use your changes.
For the configuration part, i already made the settings in that part `(<SosMetatada>)` and call it in `SensorObservationService` constructor.

However, i update my forks with the latest changes and try to use it.
- First remark : there is a small regression, i can't launch the j

[2017-04-18 10:56] EHJ-52n opened #74 "NPE when optional parameter -d is not used"
`Exception in thread "OneTimeFeeder" java.lang.NullPointerException at org.n52.sos.importer.feeder.task.OneTimeFeeder.run(OneTimeFeeder.java:176)`

[2017-04-18 12:38] EHJ-52n commented on #73
@glegal
Thank you very much for your feedback and the good and detailed explanation.

_Re your first remark:_ I created an additional issue for the NPE thrown by the info log statement: #74

_Re your second remark:_ Which branch did you use to build the OX-F for the importer? My changes are merged into the main develop branch (https://github.com/52North/OX-Framework/commit/9a597fbb719fd925fb7fab84

[2017-04-18 12:46] glegal commented on #73
@EHJ-52n
I work on 2 fork i made on our github.
https://github.com/Geomatys/OX-Framework
https://github.com/Geomatys/sos-importer

They are updated, and i build the develop branch on both

[2017-04-18 13:00] #74 closed

[2017-04-18 13:22] EHJ-52n commented on #73
* Which apache http client version is linked in your IDE? It should be h`ttpclient-4.2.3`.
* Are you able to send the following request to your service endpoint?
  * HTTP method: `POST`
  * HTTP header *Content-Type*: `application/xml`
  * HTTP header *Accept*: `application/xml`
  * Body:
[code]

[2017-04-18 13:53] glegal commented on #73
- I build in pure maven, not with my IDE. But i think i found the issue.
In OX-framework, the version of httpclient is updated to 4.5.3
https://github.com/52North/OX-Framework/commit/88f56c5bf6cffd9aa9553b78a59ff5fa644052e9
But  then in sos-importer feeder module, the dependency tree show the 4.2.3 version
[feeder-tree-dependencies.txt](https://github.com/52North/sos-importer/files/929834/feeder-t

[2017-04-18 14:17] EHJ-52n commented on #73
I think, that this might solve the problem regarding the NoSuchMethodError.

Regarding the section naming in the GetCapabilities, I would like to say, that the specification ([OGC#12-006](https://portal.opengeospatial.org/files/?artifact_id=47599)) states in *Table 14: Additional section names for SOS Capabilities* that the section name for the filter capabilities is `FilterCapabilities`. I think,

[2017-04-18 14:33] glegal commented on #73
Yes the example is indeed false, the "Filter_Capabilities" value was like that in SOS 1.0.0. I'll try to fix it on my server.

[2017-04-18 15:25] glegal opened #76 "Server generated offering identifier"
I try to use the sos importer with the automtic offering generation mode
[code]
After the InsertSensor request sent, my SOS server respond the following :

[code]

But the value of "assignedOffering" is never used.

I see that the InsertSensor request contains a block :

[code]
This value is used after in InsertObservation request and my server launch an error as the offering is not registered.

I

[2017-05-11 13:49] EHJ-52n opened #77 "Cannot open configuration file: UnsupportedOperationException"
## Description

When clicking on the latst wizard page on the button, nothing happens. The command line shows an exception.
![52n-sos-importer_wizard_last-step](https://cloud.githubusercontent.com/assets/3839896/25952585/5f0f0142-3661-11e7-89a9-92043f682813.png)

## Stackstrace

[code]

## OS

[code]

## Java

[code]

[2017-05-11 15:08] #77 closed

[2017-06-07 16:36] BWibo opened #78 "NullPointerException when parsing Date/Time"
I am facing some issues when trying to import data from a csv file related to parsing different datetime formats. I tried both release [0.4.0](https://github.com/52North/sos-importer/releases/tag/52n-sos-importer-0.4.0) and a fresh build I created from [develop/abdbd0ad](https://github.com/52North/sos-importer/commit/abdbd0ad9be3bcafe42d981361e3025abdb668b2).

The SOS I am trying to import to is [

[2017-06-08 07:19] EHJ-52n commented on #78
Dear @BWibo,
thank you very much for your detailed report. I hope to be able for taking a look today or tomorrow.
Kind regards!

[2017-06-08 13:51] BWibo commented on #78
I just found out that the same applies for this example. The wizard tells me _all values could be interpreted_ but the feeder fails to import.

#### CSV
[code]

#### Feeder config
[code]

##### Exception v 0.4.0
[code]

##### develop/abdbd0ad

[code]

[2017-06-09 15:05] EHJ-52n commented on #78
@BWibo Supporting the `z` is not so easy to implement with the current version. I am working on this.

[2017-06-23 08:03] glegal opened #79 "Multi-Phenomenon InsertObservation"
I used the importer with the example data and observed that the importer send separated insertObservation for each phenomenon.

I'd like to add a new insertion mode where the N phenomenon are send in a single InsertObservation array.

Instead of :
[code]
and
[code]

The dataRecord will embed each phenomenon in a field :
[code]

This mode can be activated by adding a new IMPORT_STRATEGY.

I join so

[2017-06-23 09:09] EHJ-52n commented on #79
Are you thinking about a extension of the `SweArrayObservationWithSplitExtension` strategy?

Please consider, that it might take a while for the SOS processing such large observation collections. Hence, you might test which values of `HUNK_SIZE` and `insertSweArrayObservationTimeoutBuffer` are useful within your set-up. In addition, please add your experience in the documentation of the schema.

[2017-06-23 10:08] glegal commented on #79
Yes its kind of an extension of the SweArrayObservationWithSplitExtension strategy.
I will use HUMK_SIZE and insertSweArrayObservationTimeoutBuffer configuration.
The observation collections should not be extremly larger.

For my sos server wich is multi-phenomnon oriented, it will be much more faster and easier to process the observation in that way.

[2017-06-27 08:48] EHJ-52n commented on #78
@BWibo
The format `2017-04-13T08:27:28MESZ` is not supported with java 8 time api.

The supported output looks like

- `2017-04-13T08:27:28+02:00[Europe/Berlin]` for [ZonedDateTime](https://docs.oracle.com/javase/8/docs/api/java/time/ZonedDateTime.html#parse-java.lang.CharSequence-) or
- `2017-04-13T08:27:28+02:00` for [OffsetDateTime](https://docs.oracle.com/javase/8/docs/api/java/time/OffsetDate

[2017-06-27 08:52] BWibo commented on #78
Yes, that's no problem.

[2017-06-27 09:10] BWibo opened #80 "Transactional authorization token support"
Hello everybody,

is there currently any way to use the SOS Importer with a SOS server, that is using a *transactional authorization token* to limit access to transactional operations? I could not find any documentation on this on Github or [here](https://wiki.52north.org/SensorWeb/SosImporter).

For instance, sending an `InsertSensor` request from an `XML` file to a token secured server from the

[2017-06-27 10:31] #78 closed

[2017-06-27 12:56] EHJ-52n commented on #76
The problem is fixed in #82.
Background: the generated offering was the same as the sensor/procedure id, hence ignored by the SOS but later on used by the importer.

[2017-06-27 13:00] EHJ-52n commented on #80
Hi,
I think that this is linked #73 _Provide basic authentication for secure SOS_.

@glegal: can you give any updates on this issue?

[2017-06-27 13:00] #80 closed

[2017-06-27 15:46] EHJ-52n commented on #72
Thanks for reporting this issue. I already fixed it in 52North/OX-Framework#54 and waiting for a review.

[2017-06-27 15:49] EHJ-52n commented on #79
Okay, looking forward to your contribution.

[2017-07-06 12:27] #72 closed

[2017-07-07 08:27] glegal commented on #76
I still have a problem here.
When the InsertSensor is send, the response is  :

[code]

but the insertObservation still send :

[code]

[2017-07-07 09:58] EHJ-52n commented on #76
Which version of the feeder and OX-F did you use?
Can you provide any log details?

[2017-07-07 10:21] glegal commented on #76
I just test on the latest version this morning (branch develop on OX-framework, branch develop on sos-importer).
I see a change now the offering name is "<sensor-name>-offering" but it still not the offering assigned by the sos server. I have a patch on my fork, i'll make a pull request soon

[2017-07-07 12:43] EHJ-52n commented on #76
Which version of the SOS server are you using?

I tested with the latest version and the assigned offering was `<sensor-name>-offering`.

[2017-07-07 14:28] glegal commented on #76
I use my own SOS server, not a 52N one. So the politics is not to assign `<sensor-name>-offering` but `offering-<sensor-name>`. But that's not the point, the sos-importer should use the offering identifier returned by the sos in the InsertSensorResponse.

[2017-07-18 14:25] BWibo opened #86 "Wizard module ClassCastException"
Hey there,

I just ran into a CCE when trying a fresh build from 95aa1f4 on [develop](/52North/sos-importer/tree/develop).

The CCE occured when hitting the next button of the *Feature of Interest* page, after manually setting the *URI* and *name* for the first *Measured Value* column.
I was trying to parse following data using this (`yyyy-MM-dd'T'HH:mm:ss.SSSSSS`) timestamp format.
[code]
Here is

[2017-07-20 13:50] gschwind commented on #86
I made the # #87 pull request that should fix your issue.

If you can try it, and confirm that fix the issue. Best regards.

[2017-07-21 08:02] EHJ-52n commented on #86
@gschwind @BWibo thank you for your contribution.

Next steps to integrate @gschwind's solution are performed.

[2017-07-21 08:29] BWibo commented on #86
Just tested pull request #87. I succesfully completed the wizard with the data sample from above.

[2017-07-21 08:59] EHJ-52n commented on #86
@BWibo thank you very much for your feedback.

I reopened the issue because PR #87 is still not merged.

[2017-08-14 15:15] EHJ-52n commented on #86
@BWibo could you check, if 73d8e9f solves your issue. If yes, please close this issue.

Thank you for your time and contribution.

[2017-08-23 08:20] BWibo commented on #86
Just tested successfully with  ac2f09a.

[2017-08-23 08:20] #86 closed

[2018-03-21 13:20] cjsteele87 opened #98 "Failed import of new sensor"
Hello,

I'm trying to upload a very simple csv but I'm running into issues, specifically with importing a new sensor. The error states that the sensor could not be registered at SOS but I can't find any reason why.

The csv is very simple. It consists of a single observation made for a single sensor at a single point in time. Attached are my configuration, log and csv files that I have been using

[2018-03-22 08:28] EHJ-52n commented on #98
Hi @cjsteele87!

1. Are you able to provide the logs of the SOS instance _after_ you changed the log level, so you can see the requests, the importer is sending?
1. Which SOS implementation are you using?
1. Would you be able to switch to the latest development version? If yes, you need to change the configuration a little bit. I can support you during this steps.

Kind regards.

[2018-03-22 09:37] cjsteele87 commented on #98
Thanks for your quick response @EHJ-52n.
Where can I change the log level?
I'm using the latest release (v0.4.0) from the jar bundles, rather than a build from source. I attempted to build a seperate development version however, it fails to build, giving the error below...

Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.004 sec
[DEBUG] Setting system property [user.dir]=[/users/

[2018-12-07 13:11] truptipadiya opened #99 "NoSuchMethodException SOS Importer Wizard Module"
I am new to 52n SOS and I have installed SOS version 4.3.3. Java version is 8. I am trying to import data from example.csv file using the wizard jar file and getting the following exception:

14:09:22.076 [main] INFO  Feeder - Application started
		Implementation-Title: Feeding Module
		Implementation-Version: 0.4.1
		Archiver-Version: Plexus Archiver
		Built-By: eike
		Implementation-Vendor-Id: o

[2019-02-25 16:08] #99 closed

[2019-03-21 11:25] truptipadiya commented on #99
I downloaded the new jar file: 52n-sos-importer-wizard-0.4.2-bin.jar from https://github.com/52North/sos-importer/tree/v0.4.2. I am still facing the same issue.

[2019-04-23 09:59] truptipadiya opened #101 "unable to insert example data from csv"
Unable to insert Downloaded example-data.csv from: https://wiki.52north.org/SensorWeb/SosImporter#How_to_Build
Using SOS importer from: https://github.com/52North/sos-importer/releases/tag/v0.4.2

why is it skipping records?

Following is the output at the end of wizard module execution. Attaching input file, configuration file, and output file
[example-data.zip](https://github.com/52North/sos-imp

[2019-04-24 08:22] truptipadiya commented on #101
This issue is related to: https://github.com/52North/sos-importer/issues/43
I experience that even though once the data is inserted successfully, you cannot insert the same data again from the same path. The records gets skipped! Unsuccessful data insertion also results in skipping records!

[2019-11-21 15:22] ndevilleBE opened #102 "Could not parse response to XML"
Hello,
I try to import a new offering in my SOS DB but can't make the sos importer to work. When I try to  import using the wizard, the log give me the following error message:

[2021-07-09 08:28] kflorian opened #108 "DataFile#getCSVReader ignores DataFileEncoding"
In org.n52.sos.importer.feeder.DataFile#getCSVReader, a new FileReader is instantiated, without specifying a charset, causing the system default charset to be used for reading the datafile contents, instead of the charset specified by the DataFileEncoding in the configuration:
`	public CsvParser getCSVReader() throws IOException {
		LOG.trace("getCSVReader()");
		final FileReader fr = new FileRead

[2021-12-06 23:31] Tanzima opened #109 "Error: Unable to access jarfile"
When I click start at the end to start importing it says Error: Unable to access jarfile in download folder as I started the 52n-sos-importer-wizard-0.4.0-bin.jar file from there. Which jar file it is looking for? There is prompt came up to show the jar file manually. But I don't know which jar file it is looking for.

<img width="963" alt="Untitled" src="https://user-images.githubusercontent.com/